@import 'constants.less';

header {
  /*border-bottom: 1px solid @black3;
  box-sizing: border-box;*/
  div {
    height: 6vh;
  }
  .logo {
    height: 100%;
    width: 100%;
  }
  .logo p {
    margin: 0;
    padding: 0;
    color: lighten(@yellow, 20%);
    padding: 10px 15px 7px;
    font-size: 25px;
  }
}
