@import 'constants.less';

header {
  div {
    background-color: @black1;
    border-bottom: 1px solid @black2;
    box-sizing: border-box;
    height: 6vh;
  }
  .logo {
    height: 100%;
    width: 100%;
  }
  .logo p {
    margin: 0;
    padding: 0;
    color: lighten(@yellow, 20%);
    font-size: 4vmin;
  }
}
