@import 'constants.less';

sidebar {
  width: 100%;
  height: 86vh;
  color: @white1;
  overflow-y: scroll;
  h2 {
    padding-left: 10px;
  }
  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }
  .item {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid @black2;
    height: 35px;
  }
  .item:hover {
    background-color: @black2;
    cursor: pointer;
  }
  table td:nth-child(1), table th:nth-child(1) {
    padding-left: 10px;
  }
  table td:nth-child(3), table th:nth-child(3) {
    padding-right: 10px;
  }
}
sidebar::-webkit-scrollbar {
  display: none;
}
